body {
    font-family: helvetica;
}

.lead {
    margin-bottom: 0px;
}

#banner {
    height: 80%;
    width: 100%;
}

#content {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.section-heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.empty-space {
    clear: both;
}

#story {
    color: #273660; }
    #story #neal-story {
        width: 70%;
        float: left;
        margin-bottom: 20px; }
    #story #neal-image {
        width: 20%;
        margin-top: 8px;
        margin-left: 5%;
        margin-bottom: 20px; }
    #story #pulkita-image {
        width: 20%;
        margin-top: 8px;
        margin-right: 5%;
        float: left;
        clear: left;
        margin-bottom: 40px; }
    #story #pulkita-story {
        width: 70%;
        margin-bottom: 40px;
        display: block;
        overflow: hidden; }
    #story .about-me-heading {
        font-size: 30px;
        margin-bottom: 5px; }
    #story .about-me-text {
        font-size: 18px;
    }

#promise {
    color: #273660; }
    #promise #sub-heading {
        margin-top: -10px; }
    #promise #promise-images-block {
        text-align: center; }
        #promise #promise-images-block .promise-images {
            display:inline-block;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
            cursor: pointer; }
        #promise #promise-images-block .promise-images img {
            width: 150px;
            margin-bottom: 15px; }
        #promise #promise-images-block .promise-images p {
            font-size: 20px; }
    #promise .promise-block {
        display: none;
    }
    #promise .promise-block .promise-heading {
        text-align: center; }

#connect {
    color: #273660; }
    #connect #connect-image {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
    #connect #connect-text {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
